/* THE START OF SETTINGS MENU */

.settingsBtn {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    line-height: 38px;
    font-size: 120%;
    background-color: #2B2B2C;
    border: 2px solid #A9ACAD;
    border-radius: 10px;
    box-shadow: 0 0 5px #000;
    cursor: pointer;
    margin: 10px 20px 0 0;
}

.settingsBtn i {
    color: #fff;
    text-shadow: 0 0.5px 0px #5f5f5f,
    0 1px 0px #5f5f5f,
    0 1.5px 0px #5f5f5f,
    0 2px 0px #5f5f5f,
    0 2.5px 0px #5f5f5f,
    0 3px 0px #5f5f5f,
    0 5px 1px #000;
    margin-right: 20px;
}

.settings-wrapper {
    width: 380px;
    height: 350px;
    position: fixed;
    top: 50%;
    left: 50%;
    display: none;
    background-color: #000;
    border: 2px solid #A9ACAD;
    border-radius: 10px;
    box-shadow: 0 0 5px #000;
    transform: translate(-50%, -50%);
    margin: auto auto;
    z-index: 4;
}

legend {
    width: 55px;
    height: 55px;
    background-color: #2B2B2C;
    border: 2px solid #A9ACAD;
    border-radius: 50%;
    text-align: center;
    font-size: 200%;
    line-height: 30px;
    color: #DFDEE0;
    text-shadow: 0 0.5px 0px #5f5f5f,
    0 1px 0px #5f5f5f,
    0 1.5px 0px #5f5f5f,
    0 2px 0px #5f5f5f,
    0 2.5px 0px #5f5f5f,
    0 3px 0px #5f5f5f,
    0 3.5px 0px #5f5f5f,
    0 4px 0px #5f5f5f,
    0 7px 1px #000;
    padding: 1%;
}

legend i {
    margin-right: 30px;
    margin-top: 10px;
}

.settingBtns {
    width: 100%;
}

.settingBtnborder {
    width: 60%;
    height: 60px;
    display: inline-flex;
    background-color: #1e1e1f;
    box-shadow: 2px 1px 2px #DFDEE0,
    -2px -1px 2px #1d1d1d,
    inset -5px -5px 10px #000000,
    inset 3px 3px 10px #DFDEE0;
    border-radius: 30px;
    padding-right: 1%;
    margin-top: 5%;
    margin-left: 20%;
}

/* BUTTONS - MUSIC AND SOUND */

.btnControls {
    width: 70px;
    height: 70px;
    position: relative;
    background-color: #2B2B2C;
    background-image: url(../images/scales.webp);
    background-position: center;
    background-size: cover;
    border: none;
    border-radius: 20px;
    font-size: 250%;
    font-weight: 700;
    text-align: center;
    line-height: 70px;
    cursor: pointer;
}

.music, .sound {
    width: 50px;
    height: 50px;
    background-color: #DFDEE0;
    background-image: url(../images/scales.webp);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    font-size: 200%;
    line-height: 50px;
}

.music, .sound {
    display: inline-flex;
    font-size: 130%;
    line-height: 50px;
}

#musicBtnOff {
    margin: 4.5px 0 15% 2%;
}

#musicBtnOn, #soundBtnOn  {
    display: none;
    margin: 4.5px 0 15% 82%;
}

#soundBtnOff {
    margin: 4.5px 0 0 2%;
}

#musicBtnOff, #musicBtnOn,  #soundBtnOff, #soundBtnOn {
    box-shadow: 1px 1px 3px #111111,
    -1px -1px 3px #7c7c7c,
    -1px 1px 3px #111111,
    1px -1px 3px #7c7c7c;
}

#musicBtnOff:hover, #musicBtnOn:hover, #soundBtnOff:hover, #soundBtnOn:hover {
    box-shadow: inset 1px 1px 3px #111111,
    inset -1px -1px 3px #7c7c7c,
    inset -1px 1px 3px #111111,
    inset 1px -1px 3px #7c7c7c;
}

#musicBtnOff i, #soundBtnOff i{
    padding: 35% 0 0 11%;
}

#musicBtnOff i:before {
    padding: 18% 22px 0 0;
}

#musicBtnOn i {
    padding: 17% 25% 0 0;
}

#soundBtnOn i{
    padding: 18% 19% 0 0;
}

.settings-wrapper .close {
    margin-top: -7px;
}

.rules-wrapper {
    margin-top: 520px;
    margin-right: 90px;
}

.rules-wrapper .rules-btn {
    display: block;
    width: 120px;
    margin-right: 90px;
}

.modal-content {
    z-index: 100;
}