.game-container {
  width: 100%;
  display: flex;
  height: 900px;
}

.board {
  width: 1000px;
  height: 900px;
  background-image: url("https://imgur.com/KrlYuoJ.png");
  background: linear-gradient(
    to right,
    #cccccc,
    #b8b8b8,
    #a5a5a5,
    #929292,
    #808080
  );
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  font-family: "Trade Gothic LT Std", sans-serif;
  font-weight: bolder;
}

.parent {
  width: 96%;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(17, 1fr);
  grid-column-gap: 8px;
  grid-row-gap: 10px;
  margin-left: 2%;
  margin-top: 1%;
}

.field {
  width: 42px;
  height: 42px;
  background: radial-gradient(
    circle,
    #000000,
    #0e0e0e,
    #171717,
    #1f1f1f,
    #272727
  );
  color: white;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.red {
  background: radial-gradient(
    circle,
    #ec0808,
    #d91325,
    #c22134,
    #aa2c3e,
    #903444
  );
  rotate: -5deg;
}

.green {
  background: radial-gradient(
    circle,
    #0dbb07,
    #16b029,
    #21a639,
    #2b9b44,
    #34904c
  );
  rotate: 5deg;
}

.center-flex {
  display: flex;
  justify-content: center;
}

.game-items {
  width: 20%;
  background-color: #808080;
}

.dice-btn {
  width: 150px;
  margin: 15% 0;
}

.dice {
  width: 150px;
  height: 150px;
  background-image: url("https://imgur.com/Bbw1rQ6.png");
  background-color: #000000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  margin-bottom: 20px;
}
.card-front {
  font-family: "Trade Gothic LT Std", sans-serif;
  font-weight: bolder;
}
.card-stack {
  width: 200px;
  height: 300px;
  text-align: center;
  align-self: center;
  border-radius: 10px;
}

.liberate-card-stack {
  background: radial-gradient(
    circle,
    #0dbb07,
    #16b029,
    #21a639,
    #2b9b44,
    #34904c
  );
  margin-bottom: 50px;
  rotate: 5deg;
  box-shadow: rgb(30, 255, 0) 0px 3px 8px;
}

.trap-card-stack {
  background: radial-gradient(
    circle,
    #ec0808,
    #d91325,
    #c22134,
    #aa2c3e,
    #903444
  );
  rotate: -5deg;
  box-shadow: rgb(255, 0, 0) 0px 3px 8px;
}

button {
  padding-top: 10px;
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  touch-action: manipulation;
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
    to left,
    hsl(340deg 100% 16%) 0%,
    hsl(340deg 100% 32%) 8%,
    hsl(340deg 100% 32%) 92%,
    hsl(340deg 100% 16%) 100%
  );
}

.front {
  display: block;
  position: relative;
  padding: 12px 27px;
  border-radius: 12px;
  font-size: 1.1rem;
  color: white;
  font-weight: bolder;
  background-image: radial-gradient(rgb(0, 0, 0) 18.8%, transparent 26.4%),
    radial-gradient(rgb(0, 0, 0) 18.8%, transparent 26.4%),
    radial-gradient(rgb(117, 76, 81) 18.8%, transparent 26.4%),
    radial-gradient(rgb(117, 76, 81) 18.8%, transparent 26.4%);
  background-position: 0px 0px, 16px 16px, -1.6px 1.6px, 14.4px 17.6px;
  background-size: 32px 32px;
  background-color: rgb(255, 0, 0);
  will-change: transform;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

button:hover {
  filter: brightness(110%);
}

button:hover .front {
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

button:active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

button:hover .shadow {
  transform: translateY(4px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

button:active .shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

button:focus:not(:focus-visible) {
  outline: none;
}

/* Footer area */
footer {
	font-family: "Trade Gothic LT Std", sans-serif;
	background-color: #333;
	color: #fff;
	padding: 0.5em;
	text-align: center;
}

footer p {
	margin: 0.2em 0 1em 0;
}

footer span {
  white-space: nowrap;
	white-space: ;
}
 
footer a {
	text-decoration: none;
	padding: 0.3em;
	color: #fff;
}
  
footer a:hover {
	z-index: 1;
	background-color: #0077b5;  /* The LinkedIn blue */
	text-decoration: underline;
}
