* {
  padding: 0;
  margin: 0;
  font-family: "Trade Gothic LT Std", sans-serif;
  font-weight: bolder;
}

.fa-home {
  color: #2c4eaa;
  font-size: 40px;
  text-shadow: 0 0 7px rgb(0, 89, 255);
}

.game-container {
  width: 100%;
  display: flex;
  height: 1100px;
}

.board {
  width: 1000px;
  height: 1100px;
  background-image: url("https://imgur.com/KrlYuoJ.png");
  background: linear-gradient(
    to right,
    #cccccc,
    #b8b8b8,
    #a5a5a5,
    #929292,
    #808080
  );
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  font-family: "Trade Gothic LT Std", sans-serif;
  font-weight: bolder;
}

.parent {
  width: 96%;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(17, 1fr);
  grid-column-gap: 8px;
  grid-row-gap: 10px;
  margin-left: 2%;
  margin-top: 1%;
}

.field {
  width: 42px;
  height: 42px;
  background: radial-gradient(
    circle,
    #000000,
    #0e0e0e,
    #171717,
    #1f1f1f,
    #272727
  );
  color: white;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.red {
  background: radial-gradient(
    circle,
    #ec0808,
    #d91325,
    #c22134,
    #aa2c3e,
    #903444
  );
  rotate: -5deg;
  box-shadow: rgb(255, 0, 0) 0px 3px 8px;
}

.green {
  background: radial-gradient(
    circle,
    #0dbb07,
    #16b029,
    #21a639,
    #2b9b44,
    #34904c
  );
  rotate: 5deg;
  box-shadow: rgb(30, 255, 0) 0px 3px 8px;
}

.center-flex {
  display: flex;
  justify-content: center;
}

.game-items {
  width: 20%;
  background-color: #808080;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dice-btn {
  width: 150px;
  margin: 15% 0;
}

.dice {
  position: relative;
  top: -170px;
  left: -15px;
  width: 150px;
  height: 150px;
  background-image: url("https://imgur.com/Bbw1rQ6.png");
  background-color: #000000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  margin-bottom: 20px;
}
.card-front {
  font-family: "Trade Gothic LT Std", sans-serif;
  font-weight: bolder;
}
.card-stack {
  width: 200px;
  height: 250px;
  text-align: center;
  align-self: center;
  border-radius: 10px;
}

.liberate-card-stack {
  top: 30px;
  position: relative;
  margin-bottom: 50px;
  rotate: 5deg;
}

.trap-card-stack {
  rotate: -5deg;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  perspective: 1000px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back,.flip-card-trap-front, .flip-card-trap-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background: radial-gradient(
    circle,
    #0dbb07,
    #16b029,
    #21a639,
    #2b9b44,
    #34904c
  );
  color: black;
  box-shadow: rgb(30, 255, 0) 0px 3px 8px;
  border-radius: 15px;
}

/* Style the back side */
.flip-card-back {
  background: radial-gradient(
    circle,
    #0dbb07,
    #16b029,
    #21a639,
    #2b9b44,
    #34904c
  );
  color: black;
  rotate: -5deg;
  transform: rotateY(180deg);
  box-shadow: rgb(30, 255, 0) 0px 3px 8px;
  border-radius: 15px;
}

.flip-card-trap-front {
  background: radial-gradient(
    circle,
    #ec0808,
    #d91325,
    #c22134,
    #aa2c3e,
    #903444
  );
  box-shadow: rgb(255, 0, 0) 0px 3px 8px;
  color: black;
  border-radius: 15px;
}

/* Style the back side */
.flip-card-trap-back {
  background: radial-gradient(
    circle,
    #ec0808,
    #d91325,
    #c22134,
    #aa2c3e,
    #903444
  );
  rotate: 2deg;
  box-shadow: rgb(255, 0, 0) 0px 3px 8px;
  color: black;
  transform: rotateY(180deg);
  border-radius: 15px;
}

.roll {
  padding-top: 10px;
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  touch-action: manipulation;
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: conic-gradient(
    #e6e9bf,
    #d2b5aa,
    #cbaea3,
    #d4b5ab,
    #e6e9bf,
    #d2b5aa,
    #cbaea3,
    #d4b5ab,
    #e6e9bf,
    #d2b5aa,
    #cbaea3,
    #d4b5ab,
    #e6e9bf,
    #d2b5aa,
    #cbaea3,
    #d4b5ab
  );
}

.front {
  display: block;
  position: relative;
  padding: 12px 27px;
  border-radius: 12px;
  font-size: 1.1rem;
  color: rgb(0, 0, 0);
  font-weight: bolder;
  background: conic-gradient(
    #d7d7d7,
    #c3c3c3,
    #cccccc,
    #c6c6c6,
    #d7d7d7,
    #c3c3c3,
    #cccccc,
    #c6c6c6,
    #d7d7d7,
    #c3c3c3,
    #cccccc,
    #c6c6c6,
    #d7d7d7,
    #c3c3c3,
    #cccccc,
    #c6c6c6
  );
  will-change: transform;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

button:hover {
  filter: brightness(110%);
}

button:hover .front {
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

button:active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

button:hover .shadow {
  transform: translateY(4px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

button:active .shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

button:focus:not(:focus-visible) {
  outline: none;
}

/* Footer area */
footer {
	font-family: "Trade Gothic LT Std", sans-serif;
	background-color: #333;
	color: #fff;
	padding: 0.5em;
	text-align: center;
}

footer p {
	margin: 0.2em 0 1em 0;
}

footer span {
  white-space: nowrap;
	white-space: ;
}
 
footer a {
	text-decoration: none;
	padding: 0.3em;
	color: #fff;
}
  
footer a:hover {
	z-index: 1;
	background-color: #0077b5;  /* The LinkedIn blue */
	text-decoration: underline;
}

/* Home Page */

.home {
  position: relative;
}

.main-image {
  width: 100%;
  height: 100vh;
  background-image: url("https://imgur.com/XENjwp5.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  font-family: "Trade Gothic LT Std", sans-serif;
  font-weight: bolder;

}

.btn-wrapper {
  width: 30%;
  position: absolute;
  bottom: 0;
  margin: 0 0 18% 40%;
}

.start-btn, .rules-btn {
  width: 100px;
  height: 40px;
  text-align: center;
  color: #000;
  font-family: "Trade Gothic LT Std", sans-serif;
  font-size: 30px;
  font-weight: bolder;
  text-decoration: none;
  border-radius: 5px;
  padding: 3% 5%;
  margin-top: -500px;
}

.start-btn {
  background: radial-gradient(
    circle,
    #0dbb07,
    #16b029,
    #21a639,
    #2b9b44,
    #34904c
  );
  box-shadow: rgb(30, 255, 0) 0px 3px 8px;
}

.rules-btn {
  background: radial-gradient(
    circle,
    #086bec,
    #1352d9,
    #2154c2,
    #2c4eaa,
    #345190
  );
  box-shadow: rgb(0, 89, 255) 0px 3px 8px;
  margin-left: 150px;
}